@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body{
  margin: 0; /*края - создать пространство вокруг элеменета за пределами границ */ 
  padding: 0; /*отступы - создать пространство вокруг содержимого элемента внтури любых определенных границ */ 
  width: 100%;
  background-color: #ffffff;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: url('header.jpg') no-repeat 50% 50%;
    background-size: cover;
}
/* .content{
    width: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
} */

nav{
    /* justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: blue; */

    position: fixed;
    width: 100%;
}
nav.navy{
    transition: 0.3s;
    background: rgba(76, 154, 139, .5);
     height: 90px;
    /*padding: 10px 50px; */
}
/* полоска меню */
nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: rgb(255, 255, 255);
    padding: 0;
    text-align: right;
    margin: 0;
    margin-right: 45px;
    margin-top: 15px;
    transition: 1s;

}
/* области вокруг кнопочек */
nav ul li{
    display: inline-block; /*список по горизонтале */
    padding: 20px; /*растояние между элементами списка */

}
/* кнопочки редачи */
nav ul li a{ 
   text-decoration: none;  /* подчеркивания */
   font-size: 20px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    /* text-transform: uppercase; */
   color:rgb(255, 255, 255);
   transition: 1s;
  
  
}
nav ul li a.menu,
nav ul li a:hover{
    color: aquamarine;
    /* background: rgb(255, 255, 255);*/
} 
.cameraLogo{
    width: 70px;
    position: fixed;
    margin-left: 45px;
    margin-top: 10px;
}
.webLogo{
  width: 100%;
  background: rgb(76, 154, 139);
}
.photoTricks{
    position: fixed;
    float: left;
    /* margin: 45px 140px; */
    padding: 15px;
    margin-top: 15px;
    margin-left: 110px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 2px;

}
.menu-icon{
    width: 100%;
    /* background: #000; */
    text-align: right;
    box-sizing: border-box;
    padding: 15 px 24 px;
    cursor: pointer;
    color: #fff;
    display: none;
}

/* .logo{
color: rgb(66, 76, 133);
} */


@media(max-width: 580px){

}

.vanPhotoContainer{
    
    width: 200px;
    height: 120px;
}
.vanPhotoContainer img{
    width: 70%;
    height: auto;
}